logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

.target/controllers/Application$$anonfun$addUser$1$$anonfun$apply$1.class

.target/controllers/Application$$anonfun$addUser$1$$anonfun$apply$2.class

*.class

.target/views/index.scala.html

.target/views/main.scala.html
